pandas
numpy
scikit-learn
xgboost
imbalanced-learn
optuna
mlflow
dagshub
fastapi
uvicorn
pydantic
python-multipart
prometheus-fastapi-instrumentator
prometheus_client
streamlit
requests
joblib
PyYAML
python-dotenv
from-root
pytest
flake8
-e .